[Desktop Entry]
Categories=System;
Exec=think-rotate flip
GenericName=Flip screen vertically
Icon=object-flip-vertical
Name=rotate flip
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
