[Desktop Entry]
Categories=System;
Exec=think-rotate
GenericName=Rotate screen left
Icon=object-rotate-right
Name=rotate
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
