[Desktop Entry]
Categories=System;
Exec=think-rotate left
GenericName=Rotate screen left
Icon=object-rotate-left
Name=rotate
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
