[Desktop Entry]
Categories=System;
Exec=thinkpad input touchpad
GenericName=ThinkPad Touchpad toggle
Name=thinkpad input touchpad
StartupNotify=false
Terminal=false
Type=Application
