[Desktop Entry]
Categories=System;
Exec=thinkpad dock off
GenericName=Undock from ThinkPad Base
Name=thinkpad dock off
StartupNotify=false
Terminal=false
Type=Application
