[Desktop Entry]
Categories=System;
Exec=think-touchpad
GenericName=ThinkPad Touchpad toggle
Name=think touchpad
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
