[Desktop Entry]
Categories=System;
Exec=thinkpad-dock on
GenericName=Dock to ThinkPad Base
Icon=network-connect
Name=dock on
StartupNotify=false
Terminal=false
Type=Application
