[Desktop Entry]
Categories=System;
Exec=think-dock on
GenericName=Dock to ThinkPad Base
Icon=network-connect
Name=dock on
NoDisplay=true
StartupNotify=false
Terminal=false
Type=Application
