[Desktop Entry]
Categories=System;
Exec=thinkpad-touch
GenericName=ThinkPad Touchscreen toggle
Name=think touch
StartupNotify=false
Terminal=false
Type=Application
